:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-50: #e8f1ff;
  --color-blue-100: #d5e4ff;
  --color-blue-200: #b3ccff;
  --color-blue-300: #85a8ff;
  --color-blue-400: #5676ff;
  --color-blue-500: #2f45ff;
  --color-blue-600: #0c0eff;
  --color-blue-700: #0000ff;
  --color-blue-800: #0609cd;
  --color-blue-900: #10169f;
  --color-blue-950: #0a0b5c;
  --color-green-50: #effaf2;
  --color-green-100: #d8f3dd;
  --color-green-200: #b4e6c0;
  --color-green-300: #83d29c;
  --color-green-400: #5abb7b;
  --color-green-500: #2e9b57;
  --color-green-600: #1f7c44;
  --color-green-700: #186438;
  --color-green-800: #164f2e;
  --color-green-900: #134127;
  --color-green-950: #092516;
  --color-grey: #828282;
}
